body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fff3e0;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
  margin: auto;
}

.login-form button,
.start-btn {
  padding: 12px;
  background: #ff6f91;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.start-btn {
  margin-top: 15px;
}


.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-weight: bold;
}

.game-area {
  width: 300px;
  height: 400px;
  margin: 0;
  background: #ffe0b2;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid #d7a86e;
}

.cake {
  position: absolute;
  top: 0;
  font-size: 30px;
}

.basket {
  position: absolute;
  bottom: 10px;
  left: 120px;
  font-size: 40px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.hidden {
  display: none;
}
#startBtn {
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #ff6f91;
  color: white;
  cursor: pointer;
}

.details-form {
  width: 95%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.details-section {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.details-form input, textarea {
  padding: 10px;
    border-radius: 45px;
    border: 1px solid #ff6f91;
    background-color: #FBEFEF;
    font-size: 1em;
    font-weight: 400;
    color: #3c4141;
    width: 90%;
}
.details-form button {
    padding: 10px;
    border-radius: 45px;
    border: 1px solid #ff6f91;
    background: #F5AFAF;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

/* Game Section */
.game-section {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.score-details {
  padding: 10px;
  background: #fff7e6;
  border-radius: 8px;
  font-size: 14px;
}

.score-details h3 {
  margin-bottom: 6px;
}

.score-details ul {
  padding-left: 18px;
  margin: 0;
}

@media screen and (min-width: 500px) {
  .info {
    flex-direction: column;
    gap: 30px;
    margin: 15px 0px;
  }
}
