body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fff3e0;
}

h2 {
  margin: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
  margin: auto;
}

.login-form input,
.login-form textarea {
  padding: 10px;
  font-size: 14px;
}

.login-form button,
.start-btn {
  padding: 12px;
  background: #ff6f91;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.start-btn {
  margin-top: 15px;
}


.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-weight: bold;
}

.game-area {
  width: 300px;
  height: 400px;
  margin: auto;
  background: #ffe0b2;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid #d7a86e;
}

.cake {
  position: absolute;
  top: 0;
  font-size: 30px;
}

.basket {
  position: absolute;
  bottom: 10px;
  left: 120px;
  font-size: 40px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.hidden {
  display: none;
}
#startBtn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #ff6f91;
  color: white;
  cursor: pointer;
}
